/* ==UserStyle==
@name           Black Wikipedia
@namespace      github.com/martin-juul/black-wikipedia
@version        1.0.0
@description    Black theme for wikipedia
@author         Martin Juul
==/UserStyle== */
@-moz-document domain("wikipedia.org") {
    * {
        /* Fix white text on black rendering. NOTE: Set to subpixel-antialiased on crap displays. */
        -webkit-font-smoothing: antialiased;
    }

    :root {
        --background-main: #000;
        --border-color: #4d4c4c;
        --border-radius: 6px;
        --border-radius-double: 12px;
        --border-width: 1.33px;
        --text-primary: #fff;
        --text-secondary: #ccc;
        --link-primary: #f59f00;
        --link-secondary: #ffcd5a;
        --nav-background: #0b0b0b;
        --nav-background-active: #222;
    }

    body.mediawiki,
    #mw-page-base,
    #mw-head,
    #mw-head-base,
    #content,
    #content .gallerybox div.thumb,
    div.thumbinner {
        background-color: var(--background-main);
    }

    li.gallerybox div.thumb,
    div.thumbinner {
        border-color: var(--border-radius);
        border-radius: var(--border-radius);
    }

    #siteSub,
    .hatnote,
    li,
    dl,
    dd,
    #searchInput {
        color: var(--text-secondary);
    }

    /* Search */
    #searchInput {
        background-color: var(--background-main);
        border-radius: var(--border-radius-double);
        border-color: var(--border-color);
    }

    .suggestions-result,
    .suggestions-results,
    .suggestions-special {
        background-color: var(--background-main);
        color: var(--text-primary);
        border-radius: var(--border-radius);
        border-color: var(--border-color);
    }

    .suggestions-special {
        border-radius: unset;
    }

    /* Links */
    a,
    .vectorTabs li a,
    #mw-panel .portal .body li a:visited,
    label.toctogglelabel {
        color: var(--link-primary);
    }

    a:visited,
    #mw-panel .portal .body li a:visited {
        color: var(--link-secondary);
    }

    /* Top buttons (article, talk, read, edit, view history) */
    .vectorTabs {
        background-image: unset !important;
    }

    .vectorTabs li {
        background-image: unset !important;
        background-color: var(--nav-background) !important;
    }

    .vectorTabs li.selected {
        background-color: var(--nav-background-active) !important;
    }

    .vectorTabs .selected a,
    .vectorTabs .selected a:visited,
    .mw-content-ltr .thumbcaption {
        color: var(--text-primary);
    }

    /* Left Nav */
    .mw-interlanguage-selector {
        border-color: var(--border-color);
        background-color: var(--background-main);
        color: var(--text-primary);
        border-radius: var(--border-radius-double);
    }

    /* Article */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: var(--text-primary);
    }

    table {
        background-color: var(--background-main) !important;
        color: var(--text-primary) !important;
        border-color: var(--border-color) !important;
        border-radius: var(--border-radius);
        padding: 12px;
        border-width: var(--border-width) !important;
    }

    th {
        background-color: var(--background-main) !important;
    }

    /* ToC */
    #toc {
        background-color: var(--background-main);
        border-color: var(--border-color) !important;
        border-radius: var(--border-radius);
        border-width: var(--border-width) !important;
    }

    .tocnumber {
        color: var(--text-secondary);
        font-weight: 600;
    }
}